# Server Port
PORT=5000

# JWT Authentication Secret
JWT_SECRET=hosqueue_super_jwt_secret_key_2026

# CAMPAY API CONFIGURATION (Mobile Money MTN & Orange Cameroun)
# Obtenez vos clés sur https://campay.net (ou https://demo.campay.net pour le mode sandbox)
CAMPAY_USERNAME=your_campay_app_username
CAMPAY_PASSWORD=your_campay_app_password

# Environnement Campay : 'demo' pour tester ou 'prod' pour la production
CAMPAY_ENVIRONMENT=demo

# Clé secrète facultative pour sécuriser vos Webhooks Campay
CAMPAY_WEBHOOK_KEY=
